<div class="container">
   
        <img src="assets/images/LockStore Logo.svg" alt="lockstore-logo">
        <div class="login-card">
            <p class="login-text">Log In</p>
         <form>
             <label>Email</label><br>
             <input type="email"><br>
             <label>Password</label><br>
             <input type="password"><br>
             <button class="submit-btn">Submit</button>
         </form>
         <a class="f-pass" href="#">Forgot Password?</a>
         <p class="req-one">Don't have an account? <a class="req" href="#">Request one</a></p>
        
        </div>
 
</div>
