<div class="nav-container">
    <img src="" alt="Paul Vitalis">
    <p>Paul Vitalis</p>
    <p class="role">Admin</p>
    <ul>
        <li>
            <a routerLink="./dashboard">Dashboard</a>
        </li>
        <li>
            <a routerLink="./employees">Employees</a>
        </li>
        <li>
            <a routerLink="./products">Products</a>
        </li>
        <li>
            <a routerLink="./sales">Sales</a>
        </li>
        <li>
            <a routerLink="../">Logout</a>
        </li>
    </ul>
</div>
