<div class="nav-container">
    <img id="logo-img" src="../../assets/images/LockStore Logo.svg" alt="logo">
    <img id="user-img" src="../../assets/images/paul.jfif" alt="Paul Vitalis">
    <p class="username">Paul Vitalis</p>
    <p class="role">Admin</p>
    <ul>
        <li routerLinkActive="active">
            <a routerLink="./dashboard">Dashboard</a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="./employees">Employees</a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="./products">Products</a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="./sales">Sales</a>
        </li>
        <li>
            <a routerLink="../">Logout</a>
        </li>
    </ul>
</div>
