
<div class="container">
    
<p>Sales</p>
    <table id='sales-table'>
      <tbody>
        <tr class='table-header'>
          <th>Product</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Sold By</th>
        </tr>
      </tbody>
      <tbody>
        <tr class='table-rows'>
          <td>Nemesis</td>
          <td>12000</td>
          <td>50</td>
          <td>Paulo</td>
        </tr>
      </tbody>
      <tbody>
        <tr class='table-rows'>
          <td>Nemesis</td>
          <td>12000</td>
          <td>50</td>
          <td>Paulo</td>
        </tr>
      </tbody>
      <tbody>
        <tr class='table-rows'>
          <td>Nemesis</td>
          <td>12000</td>
          <td>50</td>
          <td>Paulo</td>
        </tr>
      </tbody>
    </table>

</div>
