<div class="container">
   
<div class="title">Employees</div>
        <p class='total-emp'>
          Total employees: <span>20</span>
        </p>
        <div class='employee-no'>
          <div class='attendants'>
            <p>
              Attendants: <span>20</span>
            </p>
          </div>
          <div class='admin'>
            <p>
              Admin: <span>2</span>
            </p>
          </div>
          <button id="add-employee">Add Employee</button>
           
    
        </div>
        <div class='employee-cards'>
            <div class='employee-card'>
                <img id='emp-image' src='' alt='Employee'>
                <p class='emp-name'>Paul Vitalis</p>
                <p class='emp-role'>Admin</p>
              </div>
              <div class='employee-card'>
                <img id='emp-image' src='' alt='Employee'>
                <p class='emp-name'>Paul Vitalis</p>
                <p class='emp-role'>Admin</p>
              </div>
              <div class='employee-card'>
                <img id='emp-image' src='' alt='Employee'>
                <p class='emp-name'>Paul Vitalis</p>
                <p class='emp-role'>Admin</p>
              </div>
              <div class='employee-card'>
                <img id='emp-image' src='' alt='Employee'>
                <p class='emp-name'>Paul Vitalis</p>
                <p class='emp-role'>Admin</p>
              </div>
              <div class='employee-card'>
                <img id='emp-image' src='' alt='Employee'>
                <p class='emp-name'>Paul Vitalis</p>
                <p class='emp-role'>Admin</p>
              </div>
              <div class='employee-card'>
                <img id='emp-image' src='' alt='Employee'>
                <p class='emp-name'>Paul Vitalis</p>
                <p class='emp-role'>Admin</p>
              </div>
        </div>
  
</div>

