
<div class="container">

<p>Products</p>
    <p class='total-prod'>
      Total Products: <span>50</span>
    </p>
    <button id="add-product">

        Add Product
    </button>
    <input
      type='text'
      id='search'
      placeholder='Search a product'
      >

    <div class='products-list'>
        <div class='product-card'>
              <img
                id='product-image'
                src=''
                alt='productname'
              />
              <p class='product-name'>Lenovo</p>
              <p class='inventory'>
                <span className='items-no'>10</span> items
              </p>
              <p class='cost'>
                Kshs. <span class='k-shs'>30000</span>
              </p>

          </div>
          <div class='product-card'>
            <img
              id='product-image'
              src=''
              alt='productname'
            />
            <p class='product-name'>Lenovo</p>
            <p class='inventory'>
              <span className='items-no'>10</span> items
            </p>
            <p class='cost'>
              Kshs. <span class='k-shs'>30000</span>
            </p>

        </div>
        <div class='product-card'>
            <img
              id='product-image'
              src=''
              alt='productname'
            />
            <p class='product-name'>Lenovo</p>
            <p class='inventory'>
              <span className='items-no'>10</span> items
            </p>
            <p class='cost'>
              Kshs. <span class='k-shs'>30000</span>
            </p>

        </div>
        <div class='product-card'>
            <img
              id='product-image'
              src=''
              alt='productname'
            />
            <p class='product-name'>Lenovo</p>
            <p class='inventory'>
              <span className='items-no'>10</span> items
            </p>
            <p class='cost'>
              Kshs. <span class='k-shs'>30000</span>
            </p>

        </div>
        <div class='product-card'>
            <img
              id='product-image'
              src=''
              alt='productname'
            />
            <p class='product-name'>Lenovo</p>
            <p class='inventory'>
              <span className='items-no'>10</span> items
            </p>
            <p class='cost'>
              Kshs. <span class='k-shs'>30000</span>
            </p>

        </div>
        <div class='product-card'>
            <img
              id='product-image'
              src=''
              alt='productname'
            />
            <p class='product-name'>Lenovo</p>
            <p class='inventory'>
              <span className='items-no'>10</span> items
            </p>
            <p class='cost'>
              Kshs. <span class='k-shs'>30000</span>
            </p>

        </div>
    </div>

</div>