<div class="container">

        <p>7/6/2022</p>
        <div class='dash-message'>
          <p class='text-1'>
            WELCOME TO YOUR DASHBOARD, <span>Paul Vitalis</span>.
          </p>
          <p class='text-2'>
            View your company's performance through the cards below
          </p>
        </div>
        <div class='cards'>
          <div class='card'>
            <p class='card-name'>Total products</p>
            <p class='card-no'>20</p>
          </div>
          <div class='card'>
            <p class='card-name'>Total employees</p>
            <p class='card-no'>20</p>
          </div>
          <div class='card'>
            <p class='card-name'>Sales Performance</p>
            <p class='card-no'>80%</p>
          </div>
        </div>
      

</div>

